<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
${jsContext}${jquery}${toast}${appJs}${vue}${ele}
<script type="text/javascript" src="${request.contextPath}/js/common/show_office_page.js"></script>
<title>office</title>
</head>
<body>
<div id="vue-progress-id">
	<el-dialog title='进度条' v-model='progressVisible' size='tiny' :close-on-click-modal='false' :close-on-press-escape='false' :show-close='false' >
		  <el-row>
		  	<el-col :span='8'>&nbsp;</el-col>
		  	<el-col :span='8'>
		  		<el-progress type='circle' :percentage='percent' :status='progressStatus'></el-progress>
		  	</el-col>
		  	<el-col :span='8'>&nbsp;</el-col>
		  </el-row>
		</el-dialog>
		<div id="office_id" style="">

		</div>
</div>

</body>
</html>