<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
${jsContext}${jquery2}${jqueryUI2}${jqGrid2}${jq_validation_engine2}${easyUI2}${date972}${toast2}${appJs2}${vue2}${ele2}${attachment}

<script type="text/javascript" src="${request.contextPath}/js/index.js"></script>
<title>office</title>
</head>
<body>

<input type="button" id="refreshGridId" value="刷新grid"/><br/>


业务Id: <input type="text" id="businessInputId" value="1111112"/>
<input type="button" id="businessSearchId" value="查询"/><br/>
<div id="attachId">

</div>


</body>
</html>